html, body{
	width:100%;
	height:100%;
	display:flex;
	margin:auto;
}
#container{
	position:relative;
	margin:auto;
	width:90%;
	max-width:160vh;
	max-height:90%;
	vertical-align:middle;
	text-align:center;
	
}
#map{
	width:100%;
}
#optPanel, button, .lowernote, .attribution, .scoretext, #veep, svg text{
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;}
.lowernote{
	width:100%;
	font-family: 'Roboto', sans-serif;
	font-weight:bold;
	
	font-size:1.6em;
	
}
.attribution{
	width:100%;
	text-align:center;
	font-family: 'Roboto', sans-serif;
	font-weight:bold;
	
}
.scorebar{
	position:relative;
	display:flex;
	width:100%;
	
	margin:auto;
}

#DEM4{
	background-color:#0091EA
}
#DEM3{
	background-color:#03A9F4
}
.DEM3-text{
	color:#03A9F4
}
#DEM2{
	background-color:#4FC3F7
}
#DEM1{
	background-color:#B3E5FC
}
#GREEN3{
	background-color:#00E676
}
#GREEN2{
	background-color:#69F0AE
}
#GREEN1{
	background-color:#B9F6CA
}

#SWING{
	background-color:#cccccc
}

#LIB1{
	background-color:#FFE57F
}
#LIB2{
	background-color:#FFD740
}
#LIB3{
	background-color:#FFC400
}

#GOP1{
	background-color:#ffa399
}
#GOP2{
	background-color:#ff7359
}
#GOP3{
	background-color:#ff3d19
}
.GOP3-text{
	color:#ff3d19
}
#GOP4{
	background-color:#D32F2F
}

.winmarker{
	background-color:#000000;
	width:calc(100% / 538);
	height:5vh;
	right:50%;
	position:absolute;
	z-index:100;
	margin:auto;
}
.scoreboard_wrapper{
	height:5%;
}
.partybar {
	width:calc(100% / 7);
}
.caucusbar {
	width:50%;
}
.partybar, .caucusbar{
	position:relative;
	display:inline-block;
	height:100%;
	height:5vh;
	margin:0;
	border:0;
}
.scoretext{
	width:100%;
}
.scoretext, .caucusbar{
	font-size:5vh;
	position:relative;
	display:table-cell;
	z-index:100;
	line-height:100%;
	font-family: 'Roboto', sans-serif;
	font-weight:bold;
}
#demscore, #gopscore{
	color:#ffffff;
}
.righttext, #gopgain{
	text-align:right;
	margin:0 1% 0 0;
}
.lefttext, #demgain{
	text-align:left;
	margin:0 0 0 1%;
}
.centertext {
	text-align:center;
}
.scoretext_wrapper{
	position:absolute;
	display:flex;
	width:100%;
}

svg text {
	cursor: default;
	pointer-events: none;
}
svg text::selection {
    background: none;
}